In [1]:
import re

In [2]:
nba_data = """Celtics:
Record: 12-2, 1st in NBA Eastern Conference
Last Game: W 95-94 vs. TOR
Next Game: Tuesday, Nov. 14 at BRK
Coach: Brad Stevens (12-2)
Executive: Danny Ainge
PTS/G: 102.2 (24th of 30) Opp PTS/G: 94.0 (1st of 30)
SRS: 7.38 (3rd of 30) Pace: 96.4 (26th of 30)
Off Rtg: 106.0 (17th of 30) Def Rtg: 97.5 (1st of 30)

Hawks:
Record: 2-11, 15th in NBA Eastern Conference
Last Game: L 94-113 at WAS
Next Game: Monday, Nov. 13 at NOP
Coach: Mike Budenholzer (2-11)
Executive: Travis Schlenk
PTS/G: 102.5 (23rd of 30) Opp PTS/G: 110.8 (26th of 30)
SRS: -8.59 (27th of 30) Pace: 100.0 (9th of 30)
Off Rtg: 102.4 (25th of 30) Def Rtg: 110.8 (27th of 30)

Spurs:
Record: 8-5, 3rd in NBA Western Conference
Last Game: W 133-94 vs. CHI
Next Game: Tuesday, Nov. 14 at DAL
Coach: Gregg Popovich (8-5)
Executive: R.C. Buford
PTS/G: 103.0 (22nd of 30) Opp PTS/G: 99.6 (5th of 30)
SRS: 3.04 (9th of 30) Pace: 96.4 (27th of 30)
Off Rtg: 106.9 (16th of 30) Def Rtg: 103.4 (6th of 30)

Knicks:
Record: 7-5, 4th in NBA Eastern Conference
Last Game: W 118-91 vs. SAC
Next Game: Monday, Nov. 13 vs. CLE
Coach: Jeff Hornacek (7-5)
Executive: Steve Mills
PTS/G: 106.4 (16th of 30) Opp PTS/G: 105.0 (13th of 30)
SRS: 1.12 (14th of 30) Pace: 96.5 (25th of 30)
Off Rtg: 110.2 (6th of 30) Def Rtg: 108.8 (21st of 30)

Bulls:
Record: 2-9, 14th in NBA Eastern Conference
Last Game: L 94-133 at SAS
Next Game: Wednesday, Nov. 15 at OKC
Coach: Fred Hoiberg (2-9)
Executive: Gar Forman
PTS/G: 93.6 (30th of 30) Opp PTS/G: 103.9 (10th of 30)
SRS: -9.69 (29th of 30) Pace: 96.1 (29th of 30)
Off Rtg: 96.6 (30th of 30) Def Rtg: 107.2 (19th of 30)"""

In [15]:
m = re.search('Record: (\d+)-(\d+)', nba_data)
if m:
    print(m.group())
else:
    print('No match')

Record: 12-2

In [19]:
re.findall('Record: (\d+)-(\d+)', nba_data)

[('12', '2'), ('2', '11'), ('8', '5'), ('7', '5'), ('2', '9')]

In [20]:
url = 'https://google.com?search=foobar'
re.sub(r'\?.*', '', url)

'https://google.com'

In [21]:
string = 'The-quick-brOwn_fox_juMped_over_The-lazy-dog'

In [24]:
re.sub(r'[-_]([A-z])', lambda m: m.group(1).upper(), string.lower())

'theQuickBrownFoxJumpedOverTheLazyDog'

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('train.csv')

In [37]:
df['Title'] = df['Name'].str.extract(', ([^.]+)\.', expand=False)

In [35]:
df[['Title', 'Survived']].groupby('Title').agg(['mean', 'count'])

              Survived
                  mean count
Title
Capt          0.000000     1
Col           0.500000     2
Don           0.000000     1
Dr            0.428571     7
Jonkheer      0.000000     1
Lady          1.000000     1
Major         0.500000     2
Master        0.575000    40
Miss          0.697802   182
Mlle          1.000000     2
Mme           1.000000     1
Mr            0.156673   517
Mrs           0.792000   125
Ms            1.000000     1
Rev           0.000000     6
Sir           1.000000     1
the Countess  1.000000     1

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import FunctionTransformer

In [62]:
def is_reverend(df):
    return df['Name'].str.contains('Rev').astype(int).to_frame()

def pclass(df):
    return df[['Pclass']].fillna(0)
pclass_tf = FunctionTransformer(pclass, validate=False)

In [56]:
is_revered_tf = FunctionTransformer(is_reverend, validate=False)

In [72]:
fu = FeatureUnion([
    ('is_reverend_tf', FunctionTransformer(func=is_reverend, validate=False))
])

In [73]:
pipe = Pipeline([
    ('fu', fu),
    ('lr', LogisticRegression())
])

In [74]:
from sklearn.model_selection import cross_val_score

In [75]:
cross_val_score(pipe, df, df['Survived']).mean()

0.61616161616161613

In [ ]:
pipe.predict(test)